html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s,
samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}


 
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #f3f3f3; 
    /* background-image: linear-gradient(125deg,#eff8f8,#f3f3f3,#f0f0f7,#eff0f8);  */ 
    background-image: linear-gradient(125deg,#f5f6ff,#f3f3f3,#edeaff,#f5f6ff); 
    background-size: 400%;
 	animation: bganimation 15s infinite;
  }
  
  @keyframes bganimation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}



.neumorphism{
	border-radius: 50px;
	background: #f3f3f3;
	box-shadow:  -8px -8px 16px #cfcfcf,
             8px 8px 16px #ffffff;
   /*  background-image: linear-gradient(125deg,#eff8f8,#f3f3f3,#f0f0f7,#eff0f8);  */ 
    background-image: linear-gradient(125deg,#f5f6ff,#f3f3f3,#edeaff,#f5f6ff); 
    background-size: 400%;
  	animation: bganimation 15s infinite;
} 


nav{
	height: 100px;
	line-height: 100px;
}

nav ul li, nav ul li{font-size: 18px !important;}

main {
    flex: 1 0 auto;
}

.inline-block {
	display: flex;
	flex-wrap: wrap;
}

/* input[type="radio"]:checked:after{
	background: #4287f5 !important;
} */

.erreur{
	color : red;
}

.icon{
	width: 20px;
 	height: 20px; 
}

.waves-effect input[type="button"], .waves-effect input[type="submit"]{
	color: #fff !important;
}

/* Mise en forme des formulaires  */
.formulaire{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
/* 	background-color: #F4F7F8;
    border-color: #EAEFF1; */
    border-style: solid;
    border-radius: 15px;
	padding: 50px 50px 50px 50px; 
}

.blocMdp{
	display: flex;
	justify-content: flex-start;
}


/* #datetime
{
    border-bottom: 1px solid #fff;
    color: #fff
} */


.nav {
  background-color: #4287f5 !important;
}

h4{
	color: #4287f5;
}

.decalage{
	position: relative;
	margin-left: 35px;
}

.waves-effect{
	color: #fff !important;
}

/* label focus color */
    .input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
     color: #4287f5 !important;
    }

/* label underline focus color */
    .input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
     border-bottom: 1px solid #4287f5 !important;
     box-shadow: 0 1px 0 0 #4287f5 !important;
    }

.anim-bg-gradient {
 /*  padding: 0.6em 1.2em; */
  border-radius: 0.25em;
  cursor: pointer;
  color: white;
  background: linear-gradient(120deg, #79A9F7, #4287f5, #0122FF);
  background-size: 200% 100%;
  background-position: 0% 0;
  transition: background-position .5s;
}

.anim-bg-gradient:hover {
  background-position: 100% 0;
}

.page-footer {
	position: relative ;
	height: 150px;
	bottom:0 !important;
	left:0 !important;
}